# Ignore python cache
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/
.env

# Ignore large datasets (مهم عشان المساحة)
DATASET_SUPER/
images_original/
NpyData/
*.npy
*.mp3
*.wav
*.mp3git add .

# Ignore VS Code settings
.vscode/